<% provide :title, t(".title") %>
<div class="col-md-12">
  <div class="tile">
    <h3 class="tile-title"><%= t ".register" %></h3>
      <div class="tile-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
